<!DOCTYPE html>
<html>

<head>
    <link href="/assets/styles.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <%- include ('partials/nav.ejs') -%>
        <h1>Welcoe to Node JS beginners tutorial</h1>
        <p>Hey I am Prasanth CV</p>
</body>

</html>